<!DOCTYPE html>
<html>
<head>
<style media="screen">
  #app{padding: 35px;}
  .bookList{padding-left:60px;}
  .bookItem{padding-top:15px;}
  .subTile{
     font:italic bold 25px/30px Georgia,serif;
  }
  .listInfo{
    font:20px/30px Georgia,serif;
  }
</style>

    <meta charset="utf-8">
    <title>修-福-田</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/iview/dist/styles/iview.css">
    <script type="text/javascript" src="https://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/iview/dist/iview.min.js"></script>
</head>
<body>
<div id="app">
  <div class="subTile">
    <p> 拼音整理计划列表 </p>
  </div>
  <collapse v-model="value2" accordion class="listInfo">

      <panel name="4">
        {{items[0].title}}
        <ol slot="content" class="bookList">
          <li class="bookItem" slot="content" v-for="elem in items[0].list"> <ruby> <rb> {{elem.text}} </rb> <rt>{{elem.py}}</rt> </ruby> <a v-bind:href="elem.url" target="_blank" >{{elem.url}}</a>   </li>
        </ol>
      </panel>
      <panel name="5">
        {{items[1].title}}
        <ol slot="content" class="bookList">
          <li slot="content" v-for="elem in items[1].list" :key="elem.url"> <ruby> <rb> {{elem.text}} </rb> <rt>{{elem.py}}</rt> </ruby> <a v-bind:href="elem.url" target="_blank" >{{elem.url}}</a>   </li>
        </ol>
      </panel>
      <panel name="6">
        {{items[2].title}}
        <ol slot="content" class="bookList">
          <li slot="content" v-for="elem in items[2].list" :key="elem.url"> <ruby> <rb> {{elem.text}} </rb> <rt>{{elem.py}}</rt> </ruby> <a v-bind:href="elem.url" target="_blank" >{{elem.url}}</a>   </li>
        </ol>
      </panel>
      <panel name="7">
        {{items[3].title}}
        <ol slot="content" class="bookList">
          <li slot="content" v-for="elem in items[3].list" :key="elem.url"> <ruby> <rb> {{elem.text}} </rb> <rt>{{elem.py}}</rt> </ruby> <a v-bind:href="elem.url" target="_blank" >{{elem.url}}</a>   </li>
        </ol>
      </panel>

  </collapse>
</div>

<script>
var Main = {
    data () {
      return {
          value2: '4' // 表示Item番号
          ,items:[
            {title:"蒙学",no:"4"
            ,list:[
              {text:"三字经",py:"sān zì jīng ",url:"https://sanzijing.xfutian.com"}
              ,{text:"百家姓",py:"bǎi jiā xìng",url:""}
              ,{text:"千字文",py:"qiān zì wén ",url:""}
              ,{text:"弟子规",py:"dì zǐ guī ",url:""}
              ,{text:"声律启蒙",py:"shēng lǜ qǐ méng ",url:""}
              ,{text:"幼学琼林",py:"yòu xué qióng lín ",url:""}
              ,{text:"朱子家训",py:"zhū zǐ jiā xùn ",url:""}
              ,{text:"道德经",py:"dào dé jīng",url:"https://daodejing.xfutian.com/"}
            ]}
          ,{title:"四书 已字数排序",no:"5"
            ,list:[
              {text:"大学",py:"dà xué ",url:""}
              ,{text:"中庸",py:"zhōng yōng ",url:""}
              ,{text:"论语",py:"lùn yǔ ",url:""}
              ,{text:"孟子",py:"mèng zǐ ",url:""}
            ]}
          ,{title:"五经",no:"6"
            ,list:[
              {text:"诗经",py:"shī jīng ",url:""}
              ,{text:"尚書",py:"shàng shū ",url:""}
              ,{text:"礼记",py:"lǐ jì ",url:""}
              ,{text:"周易",py:"zhōu yì ",url:""}
              ,{text:"春秋",py:"chūn qiū ",url:""}
            ]}
            ,{title:"佛学经典",no:"7"
              ,list:[
                {text:"金刚经",py:"jīn gāng jīng ",url:""}
                ,{text:"地藏菩萨本愿经",py:"dì cáng pú sà běn yuàn jīng ",url:""}
              ]}
            ,{title:"唐诗宋词",py:"",no:"7"
              ,list:[
                {text:"唐诗300",py:"táng shī 300",url:""}
                ,{text:"宋词",py:"sòng cí ",url:""}
              ]}

          ]
        }
      }
}

var Component = Vue.extend(Main)
new Component().$mount('#app')
  </script>
</body>
</html>
